{% extends "layout.html" %}
{% block content %}

<div class="mt-4" style="text-align:center;">
	<form>
	  <label for="fname">Date limite</label><br>
	  <input type="text" id="fname" name="fname">
	  <input type="submit" style="background-color:#e3f2fd;text-decoration-color: black" class="btn-info">
	</form>
</div>
<div class="mt-4" style="text-align:center;">
		<embed type="image/svg+xml" src={{temp|safe}} style='max-width:1000px; border-radius: 10px; background-color: lavender'/>	
</div>

{% endblock %}